<!DOCTYPE HTML>
<!--
	Massively by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>

<head>
	<title>南京中学生影像联盟</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="stylesheet" href="assets/css/main.css" />
	<noscript>
		<link rel="stylesheet" href="assets/css/noscript.css" />
	</noscript>

	<style>
		.gallery-container {
			display: flex;
			overflow-x: scroll;
			padding: 20px;
		}

		.gallery-item {
			display: inline-block;
			margin-right: 10px;
			text-align: center;
		}

		.gallery-item img {
			display: block;
			height: 300px;
		}

		.gallery-item p {
			margin-top: 5px;
			font-size: 16px;
			color: #333;
		}
	</style>
</head>

<body style="background-color: #e5e5e5;">

	<!-- Wrapper -->
	<div id="wrapper" class="fade-in">

		##NAVBAR##

		<!-- Intro -->
		<header id="header">
			<h1>南京中学生影像联盟</h1>
			<h4>南京中学生影像联盟创立于2023年5月20日</h4>
		</header>

		<!-- Header -->
		<!-- <header id="header">
						<a href="index.html" class="logo">Massively</a>
					</header> -->


		<!-- Main -->
		<div id="main">

			##INITIAL##

			<section class="post">
				<header class="major">
					<h1>我们的团队</h1>
					<h3>南京中学生影像联盟第一届组委会及创始人</h3>
				</header>

				##NAMECARD##
			</section>

			<!-- Featured Post -->
			<!-- <article class="post featured">
								<header class="major">
									<span class="date">April 25, 2017</span>
									<h2><a href="#">And this is a<br />
									massive headline</a></h2>
									<p>Aenean ornare velit lacus varius enim ullamcorper proin aliquam<br />
									facilisis ante sed etiam magna interdum congue. Lorem ipsum dolor<br />
									amet nullam sed etiam veroeros.</p>
								</header>
								<a href="#" class="image main"><img src="images/pic01.jpg" alt="" /></a>
								<ul class="actions special">
									<li><a href="#" class="button large">Full Story</a></li>
								</ul>
							</article> -->

			<!-- Posts -->
			<!-- <section class="posts">
								<article>
									<header>
										<span class="date">April 24, 2017</span>
										<h2><a href="#">Sed magna<br />
										ipsum faucibus</a></h2>
									</header>
									<a href="#" class="image fit"><img src="images/pic02.jpg" alt="" /></a>
									<p>Donec eget ex magna. Interdum et malesuada fames ac ante ipsum primis in faucibus. Pellentesque venenatis dolor imperdiet dolor mattis sagittis magna etiam.</p>
									<ul class="actions special">
										<li><a href="#" class="button">Full Story</a></li>
									</ul>
								</article>
								<article>
									<header>
										<span class="date">April 22, 2017</span>
										<h2><a href="#">Primis eget<br />
										imperdiet lorem</a></h2>
									</header>
									<a href="#" class="image fit"><img src="images/pic03.jpg" alt="" /></a>
									<p>Donec eget ex magna. Interdum et malesuada fames ac ante ipsum primis in faucibus. Pellentesque venenatis dolor imperdiet dolor mattis sagittis magna etiam.</p>
									<ul class="actions special">
										<li><a href="#" class="button">Full Story</a></li>
									</ul>
								</article>
								<article>
									<header>
										<span class="date">April 18, 2017</span>
										<h2><a href="#">Ante mattis<br />
										interdum dolor</a></h2>
									</header>
									<a href="#" class="image fit"><img src="images/pic04.jpg" alt="" /></a>
									<p>Donec eget ex magna. Interdum et malesuada fames ac ante ipsum primis in faucibus. Pellentesque venenatis dolor imperdiet dolor mattis sagittis magna etiam.</p>
									<ul class="actions special">
										<li><a href="#" class="button">Full Story</a></li>
									</ul>
								</article>
								<article>
									<header>
										<span class="date">April 14, 2017</span>
										<h2><a href="#">Tempus sed<br />
										nulla imperdiet</a></h2>
									</header>
									<a href="#" class="image fit"><img src="images/pic05.jpg" alt="" /></a>
									<p>Donec eget ex magna. Interdum et malesuada fames ac ante ipsum primis in faucibus. Pellentesque venenatis dolor imperdiet dolor mattis sagittis magna etiam.</p>
									<ul class="actions special">
										<li><a href="#" class="button">Full Story</a></li>
									</ul>
								</article>
								<article>
									<header>
										<span class="date">April 11, 2017</span>
										<h2><a href="#">Odio magna<br />
										sed consectetur</a></h2>
									</header>
									<a href="#" class="image fit"><img src="images/pic06.jpg" alt="" /></a>
									<p>Donec eget ex magna. Interdum et malesuada fames ac ante ipsum primis in faucibus. Pellentesque venenatis dolor imperdiet dolor mattis sagittis magna etiam.</p>
									<ul class="actions special">
										<li><a href="#" class="button">Full Story</a></li>
									</ul>
								</article>
								<article>
									<header>
										<span class="date">April 7, 2017</span>
										<h2><a href="#">Augue lorem<br />
										primis vestibulum</a></h2>
									</header>
									<a href="#" class="image fit"><img src="images/pic07.jpg" alt="" /></a>
									<p>Donec eget ex magna. Interdum et malesuada fames ac ante ipsum primis in faucibus. Pellentesque venenatis dolor imperdiet dolor mattis sagittis magna etiam.</p>
									<ul class="actions special">
										<li><a href="#" class="button">Full Story</a></li>
									</ul>
								</article>
							</section> -->

			<!-- Footer -->
		</div>

		<!-- Footer -->
		<footer id="footer">
			<section class="split contact">
				<!-- (define (contacts-icon)
  '(section
    (h3 "联系方式")
    (ul (@ (class "icons alt"))
        (li (a (@ (href "http://weixin.qq.com/r/0xxgZYLEe0oHKMYGb0lX") (class "icon brands alt fa-weixin")) (span (@ (class "label")) "Wechat")))
        (li (a (@ (href "https://500px.com.cn/n/m/tribe/1201bd676e3b4e5e95b6335dcebf91ef") (class "icon brands alt fa-500px")) (span (@ (class "label")) "500px")))
        (li (a (@ (href "https://space.bilibili.com/1714334678") (class "icon brands alt fa-bilibili")) (span (@ (class "label")) "Bilibili")))
        (li (a (@ (href "mailto:njaiyyds@163.com") (class "icon solid fa-envelope")) (span (@ (class "label")) "Email")))
        (li (a (@ (href "#") (class "icon solid fa-shop")) (span (@ (class "label")) "Email")))
        (li (a (@ (href "https://www.xiaohongshu.com/user/profile/6494520a000000000f0078df")) "xhs"))))) -->

				<section>
					<h3>Mail</h3>
					<p><a href="mailto:njaiyyds@163.com">njaiyyds@163.com</a></p>
				</section>
				<section>
					<h3>微信</h3>
					<p>
						<img alt="NJAI影像"
							src="https://mp.weixin.qq.com/mp/qrcode?scene=10000005&size=102&__biz=Mzg4ODk4MTEzOQ==&mid=2247484157&idx=1&sn=9cc28e3820348b6dbc6d8ae0b7756216&send_time="></img>
						
					</p>
					<p>NJAI影像公众号</p>
				</section>
				<section>
					<h3>500px</h3>
					<p><a href="https://500px.com.cn/n/m/tribe/1201bd676e3b4e5e95b6335dcebf91ef">南京中学生影像联盟@500px</a></p>
				</section>
				<section>
					<h3>哔哩哔哩</h3>
					<p><a href="https://space.bilibili.com/1714334678">南京中学生影像联盟@哔哩哔哩</a></p>
				</section>
				<section>
					<h3>小红书</h3>
					<p><a href="https://www.xiaohongshu.com/user/profile/6494520a000000000f0078df">南京中学生影像联盟@小红书</a></p>
				</section>
				<section>
					<h3>小店</h3>
					<p><a href="#">南京中学生影像联盟小店</a></p>
				</section>
			</section>
		</footer>

	</div>

	<!-- Scripts -->
	<script src="assets/js/jquery.min.js"></script>
	<script src="assets/js/jquery.scrollex.min.js"></script>
	<script src="assets/js/jquery.scrolly.min.js"></script>
	<script src="assets/js/browser.min.js"></script>
	<script src="assets/js/breakpoints.min.js"></script>
	<script src="assets/js/util.js"></script>
	<script src="assets/js/main.js"></script>

</body>

</html>