<!DOCTYPE HTML>
<!--
	Massively by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>

<head>
	<title>南京中学生影像联盟</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="stylesheet" href="assets/css/main.css" />
	<noscript>
		<link rel="stylesheet" href="assets/css/noscript.css" />
	</noscript>
	<style>
		#wrapper>.bg {
			background-image: url("../../images/overlay.png"), linear-gradient(0deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url("../../images/bg1.jpg");
		}

		#wrapper>.bg.fixed {
			transform: translateY(0);
		}

		#navPanelToggle {
			color: white;
		}
	</style>
</head>

<body style="background-color: #e5e5e5;">

	<!-- Wrapper -->
	<div id="wrapper" class="fade-in">

		##NAVBAR##

		<!-- Intro -->
		<div id="intro">
			<h1 style="color: white;">上传作品</h1>
		</div>

		<!-- Header -->
		<!-- <header id="header">
						<a href="index.html" class="logo">Massively</a>
					</header> -->


		<!-- Main -->
		<div id="main">

			<form method="post" enctype="multipart/form-data">
				<fieldset class="fields" required>
					<div class="field">
						<label for="image">图像</label>
						<input type="file" name="image" id="image" accept="image/*" required />
					</div>
					<div class="field">
						<label for="name">作品名</label>
						<input type="text" name="name" id="name" required />
					</div>
					<div class="field">
						<label for="author">作者</label>
						<input type="text" name="author" id="author" required />
					</div>
					<div class="field">
						<label for="school">学校</label>
						<input type="text" name="school" id="school" required />
					</div>
					<div class="field">
						<label for="wechat">微信号</label>
						<input type="text" name="wechat" id="wechat" required />
					</div>
					<div class="field">
						<label for="email">邮箱</label>
						<input type="email" name="email" id="email" required />
					</div>
					<div class="field">
						<label for="description">描述（建议100字）</label>
						<textarea name="description" id="description" rows="4" minlength="10"></textarea>
					</div>
				</fieldset>

				<ul class="actions">
					<li><input type="submit" value="提交" id="submitButton" /></li>
					<li>
						<!-- Error message -->
						<p id="errorMsg"></p>
					</li>
				</ul>
			</form>
		</div>

		##FOOTER##

	</div>

	<!-- Scripts -->
	<script src="assets/js/jquery.min.js"></script>
	<script src="assets/js/jquery.scrollex.min.js"></script>
	<script src="assets/js/jquery.scrolly.min.js"></script>
	<script src="assets/js/browser.min.js"></script>
	<script src="assets/js/breakpoints.min.js"></script>
	<script src="assets/js/util.js"></script>
	<script src="assets/js/main.js"></script>

	<script>
		document.getElementById('submitButton').addEventListener('click', function (event) {
			event.preventDefault(); // Prevent the form from submitting normally

			var form = document.querySelector('form');
			var formData = new FormData(form);

			document.getElementById('errorMsg').innerText = "提交中...";

			fetch('https://submit.njaiyyds.org.cn/upload', {
				method: 'POST',
				body: formData,
				mode: 'cors'
			}).then(response => {
				if (response.status === 200) {
					document.getElementById('submitButton').disabled = true;
					document.getElementById('errorMsg').style.color = "green";
					return "提交成功";
				} else {
					document.getElementById('errorMsg').style.color = "red";
					return response.text();
				}
			})
				.then(display => {
					document.getElementById('errorMsg').innerText = display;
				})
				.catch(error => {
					document.getElementById('errorMsg').innerText = "提交失败：" + error;
				});
		});
	</script>

</body>

</html>